<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
      <supportedRuntime version="2.0.50727.42"/>
      <supportedRuntime version="2.0.50727.312"/>
      <supportedRuntime version="2.0.50727.832"/>
      <supportedRuntime version="2.0.50727.1433"/>
      <supportedRuntime version="2.0.50727.3053"/>
      <supportedRuntime version="2.0.50727.3521"/>
      <supportedRuntime version="2.0.50727.4016"/>
      <supportedRuntime version="2.0.50727.4918"/>
      <supportedRuntime version="2.0.50727.4927"/>
      <supportedRuntime version="2.0.50727.4952"/>

      <supportedRuntime version="v2.0.50727.42"/>
      <supportedRuntime version="v2.0.50727.312"/>
      <supportedRuntime version="v2.0.50727.832"/>
      <supportedRuntime version="v2.0.50727.1433"/>
      <supportedRuntime version="v2.0.50727.3053"/>
      <supportedRuntime version="v2.0.50727.3521"/>
      <supportedRuntime version="v2.0.50727.4016"/>
      <supportedRuntime version="v2.0.50727.4918"/>
      <supportedRuntime version="v2.0.50727.4927"/>
      <supportedRuntime version="v2.0.50727.4952"/>

      <supportedRuntime version="v4.0.30319"/>    <!-- 4.0 RTM -->
      <supportedRuntime version="v4.0.21006"/>    <!-- 4.0 Beta2 -->
      <supportedRuntime version="v4.0.20506"/>    <!-- 4.0 Beta1 -->
      <supportedRuntime version="v2.0.50727"/>    <!-- 2.0 RTM -->
      <supportedRuntime version="v2.0.50215"/>    <!-- 2.0 Beta2 -->
      <supportedRuntime version="v2.0.50110"/>    <!-- 2.0 PD7 -->
      <supportedRuntime version="v2.0.40903"/>    <!-- 2.0 PD6 -->
      <supportedRuntime version="v2.0.40607"/>    <!-- 2.0 Beta1 -->
      <supportedRuntime version="v2.0.40426"/>    <!-- 2.0 PD5 -->
      <supportedRuntime version="v2.0.40301"/>    <!-- 2.0 PD4 -->
      <supportedRuntime version="v2.0.40209"/>    <!-- 2.0 PD3 -->
      <supportedRuntime version="v2.0.31113"/>    <!-- 2.0 PD2 -->
      <supportedRuntime version="v2.0.31010"/>    <!-- 2.0 PD1 -->

      <supportedRuntime version="v3.5.7283" safemode="true"/>
      <supportedRuntime version="v3.5.7338" safemode="true"/>
      <supportedRuntime version="v4.0" safemode="true"/>
  </startup>
  <runtime>
    <assemblybinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentassembly>
        <assemblyidentity name="System" culture="neutral" publickeytoken="969db8053d3322ac" />
        <bindingredirect  newVersion="3.5.0.0" oldVersion="2.0.0.0" />
      </dependentassembly>
      <dependentassembly>
        <assemblyidentity name="System.Xml" culture="neutral" publickeytoken="969db8053d3322ac" />
        <bindingredirect  newVersion="3.5.0.0" oldVersion="2.0.0.0" />
      </dependentassembly>
      <dependentassembly>
        <assemblyidentity name="System.Drawing" culture="neutral" publickeytoken="969db8053d3322ac" />
        <bindingredirect  newVersion="3.5.0.0" oldVersion="2.0.0.0" />
      </dependentassembly>
      <dependentassembly>
        <assemblyidentity name="System.Windows.Forms" culture="neutral" publickeytoken="969db8053d3322ac" />
        <bindingredirect  newVersion="3.5.0.0" oldVersion="2.0.0.0" />
      </dependentassembly>
    </assemblybinding>
  </runtime>
</configuration>